@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Kaushan+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


:root {
    --p-color: #cec9c9;
    --p-font:"Open Sans", sans-serif;
    --all-font: "Montserrat", sans-serif;
    --logo-font: "Cormorant Garamond", serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.main::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 500px;
    top: 100;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.main img,
.main video{
    
    object-fit: cover;
    width: 100%;
    height: 500px;
    transition: opacity 0.3s ease;
}

.main video{
    position: absolute;
    top: 100;
    left: 0;
    opacity: 0;
}

.main:hover image{
    opacity: 0;
}

.main:hover video{
    opacity: 1;
}

.main-text {
    position: absolute;
    top: 320px;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.main-text h1{
    color: rgb(197, 193, 193);
    font-size: 70px;
    font-family: var(--logo-font);
    font-weight: lighter;
}

.intro-to-museum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin-left: 19%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro-to-museum .info-text{
    width: 60%;
}

.intro-to-museum .info-text{
    margin-right: 50px;
}

.intro-to-museum .info-text h2{
    font-family: var(--all-font);
    font-size: 23px;
    color: #212121;
}


.intro-to-museum .book-tickets button{
    background-color: #212121;
    padding: 12px 50px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
}

.intro-to-museum .book-tickets button i{
    font-weight: normal;
}


.div-container{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}

.div-container .div-text{
    font-family: var(--logo-font);
    margin-top: 35px;
}


.div-container .div-text h1{
    color: black;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bolder;
}

.div-container .div-text p{
    color: black;
    margin-top: 20px;
    font-size: 18px;
}

.div-container .div-text button{
    margin-top: 20px;
}


.div-container .container {
    position: relative;
    width: 1200px !important; 
    height: 300px;
    border: 10px solid rgb(81, 81, 81);
    box-shadow: 4px 4px 8px #008573; 
    border-radius: 30px;
    background-image: url("/UEB24_Gr31/vazo.svg"),url("/vazo.svg");
    background-size: contain; 
    background-position: center ; 
    background-repeat: no-repeat; 
    background-color:black;
    background-attachment: scroll;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  
  .square {
    width: 38px;  
    height: 38px; 
    background-color: lightblue; 
    position: absolute; 
    border: 2px solid darkblue;
    left: 6px; 
    top: 6px; 
}

  .restart-btn {
    padding: 10px 20px;
    background-color: #008573;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 120px;
  }

  .restart-btn:hover {
    background-color: white;
    color: gray;
  }

  .multiple-bg {
    width: 100%;
    height: 1200px;
    border: 50px solid #ffffff; 
    background-image: 
        url("/UEB24_Gr31/assets/images/insidelouvre.webp"), 
        url("/UEB24_Gr31/assets/images/louvreinside.jpg"), 
        url("/UEB24_Gr31/assets/images/louvrevisitors.jpg"),
        url("/UEB24_Gr31/assets/images/TheLouvreMuseum-Paris.webp"),
        url("/UEB24_Gr31/exhibition-events/exhibition-images/exhibition2-gallery/dino.jpg"),
        url("/assets/images/insidelouvre.webp"), 
        url("/assets/images/louvreinside.jpg"), 
        url("/assets/images/louvrevisitors.jpg"),
        url("/assets/images/TheLouvreMuseum-Paris.webp"),
        url("/exhibition-events/exhibition-images/exhibition2-gallery/dino.jpg");


        background-size: 45% auto, 50% auto, 45% auto, 45% auto, 55% auto;

        background-position: top left, center center, bottom right, top right, bottom left;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    
}

.explore-louvre{
    background-color: black;
    color: white;
    display: flex;
    padding: 100px;
    font-family: var(--logo-font);
}

.explore-louvre .louvre{
    margin-left: 50px;
    width: 700px;
}

.explore-louvre .louvre h1{
    font-size: 39px;
    margin-top: 10px;
}
.explore-louvre .louvre p{
    font-size: 20px;
    margin-top: 20px;
}

.explore-louvre .louvre button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #008573;
    border: none;
    a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
}

.fixed-image{
  
        background-image: url('../images/louvreinside.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 70vh;
        width: 100%;   
}

.subscribe{
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}

.subscribe h3{
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
    font-family: var(--logo-font);
}

.subscribe button{
    padding: 20px 44px;
    background-color: #212121;
    color: white;
    border: none;
    margin-top: 30px;
    margin-left: 170px;
    a{
        color: white;
        text-decoration: none;
        font-size: 16px;
    }
}