@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Kaushan+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


:root {
    --p-color: #cec9c9;
    --p-font:"Open Sans", sans-serif;
    --all-font: "Montserrat", sans-serif;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: block;
    background-color: #000000;
}

header .para-header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
}

header .para-header .search-bar{
    display: flex;
}

header .para-header .search-bar .search{
    display: flex;
    margin-right: 10px;
}

header .para-header .search-bar .search i, p{
    color: #FFFFFF;
    margin-right: 3px;
}

header .para-header .search-bar .languages select{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}

header .para-header .search-bar .languages select option{
    color: #FFFFFF;
}



header .para-header .logo h1{
    font-family: var(--p-font);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 29px;
    position: relative;
    bottom: 10px;
}

header .para-header .tickets button{
    background-color: #008573;
    border: none;
    border-radius: 20px;
    padding: 9px 20px;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
    bottom: 5px;
}

header hr{
    width: 80%;
    margin: 0 auto;
    background-color: lightgray;
}

header .header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .header ul{
    display: flex;
}

header .header ul li a{
    margin-left: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--all-font);
    font-weight: bold;
}


.main img{
    height: 50%;
    width: 100%;
}

.intro-to-museum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin-left: 19%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro-to-museum .info-text{
    width: 60%;
}

.intro-to-museum .info-text{
    margin-right: 50px;
}

.intro-to-museum .info-text h2{
    font-family: var(--all-font);
    font-size: 23px;
    color: #212121;
}


.intro-to-museum .book-tickets button{
    background-color: #212121;
    padding: 12px 50px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
}

.intro-to-museum .book-tickets button i{
    font-weight: normal;
}

footer{
    
    background-color: #000000;
}

footer .pre-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 85%;
    margin: 0 auto;
}
        
.give-yout-info { 
    grid-area: 1 / 1 / 2 / 2;
    padding-right: 40px;
}

.give-yout-info .sing-up h4{
    color:#FFFFFF;
}

.give-yout-info .buttons{
    display: flex; 
    flex-direction: column;
}
.about { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex; 
    flex-direction: column;
}

.about a{
    color: #FFFFFF;
}
.contact { grid-area: 1 / 3 / 2 / 4; }
.contact a{color: white; }

.opening-hours { grid-area: 1 / 4 / 2 / 5; }
.opening-hours table{
    color: white;
}
