@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Kaushan+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --p-color: #cec9c9;
    --p-font: "Noto Sans", sans-serif;
    --l-font: "Kaushan Script", cursive;
    --highlight-color: #76c7c0;
    --background-gradient: linear-gradient(to bottom, #232526, #414345);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--p-font);
    color: #f0f0f0;
    background: var(--background-gradient);
    min-height: 100vh;
}

main {
    padding: 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

form {
    flex: 1;
    background: #2e2e2e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    max-width: 500px;
    width: 100%;
}

#events { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#events h2 {
    font-family: var(--l-font);
    color: var(--highlight-color);
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    width: 100%;
}


  .event-cards-container {
    display: flex;
    justify-content: space-around; /* Space between cards */
    gap: 20px; /* Add spacing between cards */
  }
  
  .event-card {
    flex: 1;
    max-width: 30%; /* Limit width */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center align content */
    border-radius: 20px;
  }
  
  .event-card img {
    width: 100%; /* Ensure images fit within the card */
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid var(--highlight-color);
    padding: 5px;
  }



.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.8);
}



.event-card h3 {
    font-family: var(--l-font);
    color: var(--highlight-color);
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.event-card p {
    color: #cccccc;
    font-size: 16px;
    padding: 0 15px 15px 15px;
}

#eventPrice {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #76c7c0;
    text-align: center;
}

.forms-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
}

form h2 {
    font-family: var(--l-font);
    color: var(--highlight-color);
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #555555;
    background: #444444;
    color: #f0f0f0;
}

form input:focus, form select:focus {
    border-color: var(--highlight-color);
    outline: none;
    box-shadow: 0 0 5px var(--highlight-color);
}

form input[type="submit"], form input[type="reset"], #giveaway-form button {
    background: var(--highlight-color);
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover, form input[type="reset"]:hover, #giveaway-form button:hover {
    background: #5da9a5;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #events {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

form .price {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--highlight-color);
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border: 2px solid var(--highlight-color);
}

legend {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--highlight-color);
    padding: 0 10px;
}

.payment-details {
    display: none;
}

.payment-details p {
    font-size: 14px;
    color: #cccccc;
}

.payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.payment-option input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--highlight-color);
    border-radius: 50%;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.payment-option input[type="radio"]:checked {
    background-color: var(--highlight-color);
    box-shadow: 0 0 5px var(--highlight-color);
}

.payment-option label {
    font-size: 16px;
    color: #f0f0f0;
    cursor: pointer;
}

#giveaway {
    background: #2e2e2e;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-height: 450px;
    overflow: hidden;
}

form, #giveaway {
    flex: 1;
    background: #2e2e2e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    width: 100%;
}

form h2, #giveaway h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--highlight-color);
    font-family: var(--l-font);
}

#giveaway p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #cccccc;
}

#giveaway-form label {
    display: block;
    margin-bottom: 8px;
}

#giveaway-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #555555;
    background: #444444;
    color: #f0f0f0;
}

#giveaway-form input:focus {
    border-color: var(--highlight-color);
    outline: none;
    box-shadow: 0 0 5px var(--highlight-color);
}

#giveaway-form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: var(--highlight-color);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#giveaway-form button:hover {
    background: #5da9a5;
    transform: scale(1.05);
}

html {
    scroll-behavior: smooth;
}


.ticket-link {
    display: block;
    text-align: center;
    padding: 10px;
    background: var(--highlight-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
  
}


.ticket-purchase {
    background: #2e2e2e;
    padding: 20px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.ticket-purchase h2 {
    color: var(--highlight-color);
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    position: relative; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    background: #232526; 
    min-height: 300px; 
  
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content #more-info-btn {
    align-self: center;
    margin-top: auto;
    padding: 10px 20px;
    background: var(--highlight-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .modal-content #more-info-btn:hover {
    background: #5da9a5;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  }
  .modal-content #more-info-btn:focus {
    outline: 2px solid var(--highlight-color); /* Ensure focus is visible */
    transform: scale(1.1);
}
